fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings     
requests
httpx
apscheduler
langchain
langchain-community
langchain-openai 
langchain-text-splitters
langchain-core
faiss-cpu
tiktoken
openai
sentence-transformers
pandas
openpyxl
pinecone